<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading1" style="color:#000000;">Bem Vindo !</h1>
        <div>
            <img src="img/2Q" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="home-form1" class="list">
            <label class="item item-select" id="home-select1" name="SelectCidade">
                <span class="input-label">Cidade</span>
                <select>
                    <option>São José dos Campos</option>
                    <option>Taubaté</option>
                </select>
            </label>
            <label class="item item-input" name="BuscaRestaurante">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Restaurante">
            </label>
            <a ui-sref="menu.nomeDoRestaurante" id="home-button6" class="button button-assertive  button-block">Listar Produtos</a>
        </form>
    </ion-content>
</ion-view>