<ion-view title="Nome da comida" id="page6">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="nomeDaComida-button-bar1" class="button-bar">
            <a ui-sref="menu.cart" id="nomeDaComida-button4" class="button button-balanced  button-block icon-left ion-android-add">Adcionar</a>
            <button id="nomeDaComida-button5" class="button button-stable  button-block icon-left ion-android-favorite">Favoritar</button>
        </div>
        <form id="nomeDaComida-form4" class="list">
            <ion-checkbox>Ingrediente1</ion-checkbox>
            <ion-checkbox>Ingrediente2</ion-checkbox>
            <div id="nomeDaComida-markdown2" style="color:#000000;">
                <p>Adcionais</p>
            </div>
            <ion-checkbox>Adcional ---------- R$</ion-checkbox>
            <ion-checkbox>Adcional -----------R$</ion-checkbox>
        </form>
    </ion-content>
</ion-view>