<ion-view title="Nome do Restaurante" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="nomeDoRestaurante-list9" ng-repeat="item in result">
            <ion-item class="item-thumbnail-left">
                <img  ng-src=""  ng-click="" >
				
				<p style="position:absolute;right:10px;">
				<a  ng-click="" class="button  button-balanced button-clear   icon ion-android-cart">  </a> 
				</p>
                
				<h2  ng-click="" > {{item.nome}} </h2>
                <p   ng-click="">Preço: {{item.preco}}</p>
			</ion-item>
        </ion-list>
    </ion-content>
</ion-view>