<ion-view title="Pedidos" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="pedidos-list6">
            <ion-item class="item-icon-left" id="pedidos-list-item15">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="pedidos-list-item16">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="pedidos-list-item17">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="pedidos-list-item18">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="pedidos-list-item19">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>